@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=apps");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

/*.sbdocs {*/
/*    background-color: rgb(var(--dig-bg-primary)) !important;*/
/*}*/

/*.sbdocs-title {*/
/*    color: rgb(var(--dig-text-primary)) !important;*/
/*}*/

.docs-story,
.sb-main-padded {
    direction: rtl;
}