input[type="radio"].radio {
  -webkit-appearance: none;
  padding: 0;
  appearance: none;
  min-width: 1.25rem;
  width: 1.25rem;
  min-height: 1.25rem;
  height: 1.25rem;
  background-color: rgb(var(--dig-background-primary));
  border: 1px solid #eef0f2; /* TODO: read from theme */
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: 240ms transform linear;

  /**
   * :::: checked ::::
   */

  &:checked {
    border-color: rgb(var(--dig-brand));
    background-color: rgb(var(--dig-brand));

    /**
     * :::: disabled checked ::::
     */

    &:disabled {
      cursor: not-allowed;
      opacity: 40%;
    }
  }

  /**
   * :::: disabled ::::
   */

  &:disabled {
    cursor: not-allowed;
    opacity: 40%;
  }
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: before ::::
 */
input[type="radio"].radio::before {
  content: "";
  width: 0.47rem;
  height: 0.47rem;
  position: absolute;
  background-color: rgb(var(--dig-background-primary));
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 120ms transform linear;
}

/**
 * :::: checked ::::
 */
input[type="radio"].radio:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
