.alert {
  font-size: 0.875rem; /* paragraph4 (assumed) */
  line-height: 1.25rem;
  /* color: var(--dig-text-primary); */
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* Default (gray) alert */
.alert:not(.alert-info, .alert-success, .alert-warning, .alert-danger) {
  background-color: rgba(var(--dig-gray), 0.05); 
  border: 1px solid rgba(var(--dig-gray), 0.14);
}

/* Info alert */
.alert.alert-info {
  background-color: rgba(var(--dig-info), 0.05); /* assumed bg-light("info") */
  border: 1px solid rgba(var(--dig-info), 0.14);
}

/* Success alert */
.alert.alert-success {
  background-color: rgba(var(--dig-success), 0.05);
  border: 1px solid rgba(var(--dig-success), 0.14);
}

/* Warning alert */
.alert.alert-warning {
  background-color: rgba(var(--dig-warning), 0.05);
  border: 1px solid rgba(var(--dig-warning), 0.14);
}

/* Danger alert */
.alert.alert-danger {
  background-color: rgba(var(--dig-danger), 0.05);
  border: 1px solid rgba(var(--dig-danger), 0.14);
}

/* Alert title */
.alert .alert-title {
  font-size: 1rem; /* subtitle3 (assumed) */
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--dig-text-primary);
}

/* Alert description */
.alert .alert-description {
  font-size: 0.875rem; /* paragraph4 again */
  line-height: 1.25rem;
  color: var(--dig-text-secondary);
}
