.select-item {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.gray-color {
  color: #b4b4b9 !important;
  background-color: #f4f4f5 !important;
  opacity: 60%;
}
.bg-gray-200 {
  background-color: #f4f4f5;
}
.memo-ellips {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected-text {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.width-startAdornment {
  width: 90%;
}
.width-not-startAdornment {
  width: 92%;
}

.overflow-auto {
  right: "auto";
  max-width: 100%;
}
.overflow-hidden {
  overflow: "hidden";
  width: "100%",;
}
.text-ellips {
  text-overflow: "ellipsis";
  white-space: "nowrap";
  overflow: "hidden";
  width: "100%";
  max-width: "100%";
}
.left-0 {
  left: 0;
}
